<div class="col-md-12 d-flex">
 <div class="container mt-5">    
    <div class="row mb-4" id="bookListContainer">
    {{#each book}}
    <div class="col-3 mb-4">
        <div class="card h-100" style="width: 14rem; margin-right: 12px;">
            <div class="container"
                style="width: 100%; height: 200px; background-color: #f5f5f5; align-items: center; justify-content: center;">
                <a href="/book/{{this.id}}/view">
                <img src="/{{this.image}}" class="card-img-top" alt="{{this.name}}"
                    style="width: 100%; height: 100%; object-fit: contain;">
                </a>
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"><a style="color: #000000;" href="/book/{{this.id}}/view">{{this.name}}</a></h5>
                <h6 class="card-title">{{this.author}}</h6>
                <div class="d-flex justify-content-between mt-auto">
                    <a class="card-text pointer">{{this.sold}} sold</a>
                    <a class="card-text font-weight-bold">{{this.price}}</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    </div>

    <nav aria-label="Page navigation example">
        <div class="pagination justify-content-center" id="paginationContainer">
        <li class="page-item">
                <a class="page-link custom-pagination-background custom-page-number" href="javascript:void(0);">
                     <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{#each (range 1 totalPages)}}
            <li class="page-item">
                <a class="page-link custom-pagination-background custom-page-number" href="#" >{{this}}</a>
            </li>
         {{/each}}
          <li class="page-item">
             <a class="page-link custom-pagination-background custom-page-number" href="javascript:void(0);">
                <span aria-hidden="true">&raquo;</span></a> </li>
        </div>
    </nav>
</div>
</div>

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        const bookListContainer = document.getElementById('bookListContainer');
        const paginationContainer = document.getElementById('paginationContainer');

       {{!-- paginationContainer.addEventListener('click', function (event) {
          if (event.target.tagName === 'A' && event.target.closest('#paginationContainer')) {
           event.preventDefault();
           const page = event.target.textContent;
           fetchData(page);
        }
       }); --}}
       const input=`{{key}}`;

        const fetchData = async (page) => {
            const response = await fetch(`/book/search/paginate?inputName=${input}&page=${page}`, {
                method: 'GET',
                headers: {
                'Content-Type': 'application/json',
                },
            });

            if (!response.ok) {
              console.error('Error fetching data:', response.statusText);
               return;
            }

         const data = await response.json();
         updateUI(data);
        };

    const updateUI = (data) => {
        // Cập nhật danh sách sách và phân trang trên trang
        bookListContainer.innerHTML = ''; // Xóa nội dung cũ
        data.book.forEach((book) => {
            // Hiển thị thông tin sách trong danh sách sách
            const card = document.createElement('div');
            card.className = 'col-3 mb-4';
            card.innerHTML = `
                <div class="card h-100" style="width: 14rem; margin-right: 12px;">
                    <div class="container" style="width: 100%; height: 200px; background-color: #f5f5f5; align-items: center; justify-content: center;">
                        <a href="/book/${book.id}/view">
                            <img src="/${book.image}" class="card-img-top" alt="${book.name}" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><a style="color: #000000;" href="/book/${book.id}/view">${book.name}</a></h5>
                        <h6 class="card-title">${book.author}</h6>
                        <div class="d-flex justify-content-between mt-auto">
                            <a class="card-text pointer">${book.sold} sold</a>
                            <a class="card-text font-weight-bold">${book.price}</a>
                        </div>
                    </div>
                </div>
            `;
            bookListContainer.appendChild(card);
        });

        paginationContainer.innerHTML = ''; // Xóa nội dung cũ
        
        // Add "previous" link
        const previousLink = document.createElement('a');
        previousLink.className = 'page-link custom-pagination-background custom-page-number';
        previousLink.href = '#';
        previousLink.innerHTML = '&laquo;';
        previousLink.addEventListener('click', function (event) {
           event.preventDefault();
           const currentPage = parseInt(data.currentPage);
            const previousPage = currentPage - 1;
         if (previousPage >= 1) {
            fetchData(previousPage);
        }
        });
        const previousListItem = document.createElement('li');
        previousListItem.className = 'page-item';
        previousListItem.appendChild(previousLink);
        paginationContainer.appendChild(previousListItem);  

        console.log(data.currentPage);  
        for (let i = 1; i <= data.totalPages; i++) {
            // Tạo các liên kết phân trang và thêm vào paginationContainer
            const pageLink = document.createElement('a');
            pageLink.className = 'page-link custom-pagination-background custom-page-number';
            pageLink.href = '#';
            pageLink.textContent = i;

            // Bắt sự kiện click cho liên kết phân trang
            pageLink.addEventListener('click', function (event) {
                event.preventDefault();
                fetchData(i);
            });

            const listItem = document.createElement('li');
            listItem.className = 'page-item';
            if (i === parseInt(data.currentPage)) {
                listItem.classList.add('active');
             }
            listItem.appendChild(pageLink);

            paginationContainer.appendChild(listItem);
        }

        // Add "next" link
       const nextLink = document.createElement('a');
       nextLink.className = 'page-link custom-pagination-background custom-page-number';
       nextLink.href = '#';
       nextLink.innerHTML = '&raquo;';
       nextLink.addEventListener('click', function (event) {
          event.preventDefault();
          const currentPage = parseInt(document.querySelector('.page-item.active a').textContent, 10);
          const nextPage = currentPage + 1;
          if (nextPage <= data.totalPages) {
         fetchData(nextPage);
        }
       });
        const nextListItem = document.createElement('li');
        nextListItem.className = 'page-item';
        nextListItem.appendChild(nextLink);
        paginationContainer.appendChild(nextListItem);
    };

    fetchData(1);
    });

</script>

